* {
  box-sizing: content-box;
}

body {
  text-align: center;
  background: url(../images/6884741-cartoon-ninja-wallpaper.jpg) no-repeat;
  margin: 0 auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vh;
  font-family: 'Ceviche One', sans-serif;
  font-size: 2em;
  color: #212121; 
}

h1 {
  font-size: 72px;
  margin: 10% 0 0 0;
  padding: 0;
  text-shadow: 3px 3px 0px rgba(255,255,255, 0.5);
}

p {
  text-shadow: 1px 1px 0px rgba(255,255,255, 0.25);
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); 
}

.fa .fa-trash-o .fa-lg {
 font-family: 'FontAwesome'; 
}

i {
  color: #f41f45;
}

#popup {
  position: absolute;
  background: url(../images/6884741-cartoon-ninja-wallpaper.jpg) no-repeat;
  margin: 0 auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #fafafa;
  z-index: 1000;
}

#instructions {
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);  
}

#btnStartGame {
  width: 150px;
  height: 48px;
  background-color: #212121;
  color: #f41f45;
  position: absolute;
  top: 75%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 3px solid #f41f45;
  border-radius: 10px;
}

.start {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  line-height: 48px;
}

.start:hover {
  -webkit-animation: shake;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
  animation: shake;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  cursor: pointer;
  }
  
@keyframes shake {
  0% {
    -webkit-transform: translate(2px,1px) rotate(0deg);
    transform: translate(2px,1px) rotate(0deg);
  }
  
  10% {
    -webkit-transform: translate(-1px,-2px) rotate(-1deg);
    transform: translate(-1px,-2px) rotate(-1deg);
  }
  
  20% {
    -webkit-transform: translate(-3px,0px) rotate(1deg);
    transform: translate(-3px,0px) rotate(1deg);
  }
  
  30% {
    -webkit-transform: translate(0px,2px) rotate(0deg);
    transform: translate(0px,2px) rotate(0deg);
  }
  
  40% {
    -webkit-transform: translate(1px,-1px) rotate(1deg);
    transform: translate(1px,-1px) rotate(1deg);
  }
  
  50% {
    -webkit-transform: translate(-1px,2px) rotate(-1deg);
    transform: translate(-1px,2px) rotate(-1deg);
  }
  
  60% {
    -webkit-transform: translate(-3px,1px) rotate(0deg);
    transform: translate(-3px,1px) rotate(0deg);
  }
  
  70% {
    -webkit-transform: translate(2px,1px) rotate(-1deg);
    transform: translate(2px,1px) rotate(-1deg);
  }
  
  80% {
    -webkit-transform: translate(-1px,-1px) rotate(1deg);
    transform: translate(-1px,-1px) rotate(1deg);
  }
  
  90% {
    -webkit-transform: translate(2px,2px) rotate(0deg);
    transform: translate(2px,2px) rotate(0deg);
  }
  
  100% {
    -webkit-transform: translate(1px,-2px) rotate(-1deg);
    transform: translate(1px,-2px) rotate(-1deg);
  }
}